sphinx>=1.4
ipykernel
ipython_genutils
nbsphinx
nbformat
nbconvert
pre-commit
emcee
numba
numpy
pandas
pathos
dill
scipy
sympy
tqdm
chaospy
cloudpickle
h5py
emcwrap>=0.1.4
grgrlib>=0.1.15
econsieve>=0.0.8
